
<div class="container">
<h1 style="color:white;"> Fell lonely, Mausi?</h1>
<a class="btn btn-default" style="margin:5% 5% 5% 5%;" href="/baerli/text"> Klick here to get love <b>via Text</b> </a><br>
<a class="btn btn-default" style="margin:5% 5% 5% 5%;" href="/baerli/call"> Klick here to get love <b>via Voice</b> </a>
</div>
