<!DOCTYPE html>
<html>
<head>
  <title>BaerliCaller</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style=" margin: 0;
     background-color:#00bfff;
     background-size: 1440px 800px;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;">

    <div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="/">Mausi und Baerli</a>
    <ul class="nav">
    </ul>
    </div>
    </div>




	<%= yield %>

</body>
</html>
